<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wanted">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".android.CommSelection">
        </activity>
        <activity android:name=".android.Chat" >

        </activity>
        <activity android:name=".android.profile_change" />
        <activity android:name=".android.profile" />
        <activity android:name=".android.new_confirm" />
        <activity android:name=".android.registration" />
        <activity android:name=".android.login">
        </activity>
        <activity android:name=".android.new_registration" />
        <activity android:name=".android.home" />
        <activity android:name=".android.game_title" />
        <activity android:name=".android.game_genre" />
        <activity android:name=".android.event_registration" />
        <activity android:name=".android.event_correction_complete" />
        <activity android:name=".api.MainActivity2" />
        <activity android:name=".android.AuthToken" />
        <activity android:name=".api.CommEnterRead" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>